@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
/* General */
*{
    margin:0;
    padding:0;
    align-content: center;
    align-items: center;
}
header{
    width: 100%;
    /*background: #A4A4A4;*/
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999999999;
    margin: 0 auto;
    position: fixed;
    top: 0;
}
header label, input{
   display: none;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.logo img{
    height: 40px;
}
.slider{
    width: 94%;
    margin: 0 auto;
}
.slider img{
    width: 100%;
    overflow: visible;
}
body{
    margin-top: 75px;
    background: #BDBDBD;
    width: 100%;
    padding-bottom: 25px;
}
section.contenido{
    width: 95%;
    margin: 0% auto;
    text-align: justify;
}
@media screen and (min-width: 720px){
    .contenido-header{
        display: flex;
        position: sticky;
    }
    .logo{
        flex-grow: 1;
    }
    .logo img{
        margin-left: 50px;
        margin-top: 10px;
    }
    nav{
        flex-grow: 1;
    }
    nav ul{
        display: flex;
        float: right;
    }
    nav ul li{
        margin: 0 10px;
    }
    nav ul li:last-child{
        margin-right: 50px;
    }
    nav ul li a{
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        font-size: 1.2em;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    nav ul li a:hover{
        color: aquamarine;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    section.contenido{
        max-width: 1600px;
    }
}
@media screen and (max-width: 720px) { 
    header{
        background: rgba(0, 0, 0, 0.9);
    }
    header label{
        display: block;
        font-size: 35px;
        position: absolute;
        margin: 15px 25px;
        color: #fff;
    }
    header #check-menu:checked ~ nav{
        margin-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    header #check-menu:checked ~ label{
        color: aquamarine;
    }
    .logo img{
        float: right;
        margin: 15px;
    }
    header nav{
        margin-top: 70px;
        position: absolute;
        background: rgba(0, 0, 0, 0.9);
        width: 50%;
        margin-left: -75%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;*/
    }
    nav ul li:first-child{
        border-top: 2px solid #fff;
    }
    nav ul li{
        margin: 5px 5px;
        font-size: 1.3rem;
        text-align: center;
        border-bottom: 2px solid #fff;
        padding: 5px 0;
    }
    nav ul li a{
        color: aquamarine;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        margin: 5px 15px;
    }
    body .contenido{
        width: 90%;
        margin: 0 auto;
    }
  }
